:root {
    --color-background-header: #333;
    --color-hover-nav: #555;
    --color-text: #fff;
    --color-text-product: #000;
    --color-text-header: #333;
    --color-background-product: #ffffff;
    --color-background-botton-banner: #333;
    --color-textprice: rgb(58, 157, 238);
    --color-background-footer: #333;
    --color-background-product-botton: #333;
    --color-background-body: #e8fbfd;
}
/* Normaliza el margen y el padding de todos los elementos, y establece el box-sizing para que el padding y el borde se incluyan en el ancho y alto total */
* {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    font-family:Tahoma; /* Establece la fuente por defecto */
}
/* Establece el fondo y el color del texto del cuerpo */
body {
    background-color: var(--color-background-body); /* Color de fondo claro */
    color: var(--color-text); /* Color del texto oscuro */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
}
/* Estilos para el encabezado de la página */
.header {
    display: flex;
    background-color: var(--color-background-header); /* Color de fondo oscuro */
    color: var(--color-text); /* Color del texto blanco */
    padding: 15px 1px; /* Espaciado vertical en el encabezado */
}

/* Estilos para el logo en el encabezado */
.header__logo {
    justify-content: flex-start;
    width: 30%; /* Ancho del logo */
    padding-left: 20px; /* Espaciado a la izquierda */
    font-size: 24px; /* Tamaño de la fuente del logo */
    font-weight: bold; /* Negrita para el logo */
}

/* Estilos para la barra de navegación en el encabezado */
.header__nav {
    justify-content: flex-end;
    width: 70%; /* Ancho de la barra de navegación */
    text-align: right; /* Alinea el texto a la derecha */
    padding-right: 20px; /* Espaciado a la derecha */
    margin-top: 7px;
}

/* Estilos para los enlaces de navegación */
.header__nav-link {
    color: var(--color-text); /* Color del texto blanco */
    text-decoration: none; /* Sin subrayado */
    padding: 20px; /* Espaciado interno para los enlaces */
}

/* Efecto hover para los enlaces de navegación */
.header__nav-link:hover {
    background-color: var(--color-hover-nav); /* Color de fondo al pasar el ratón */
    border-radius: 3px; /* Bordes redondeados */
}
/* Estilos para la sección del banner */
.banner {
    display: flex;
    background-color: var(--color-textprice); /* Color de fondo azul claro */
    color: var(--color-text); /* Color del texto blanco */
    padding: 140px 700px; /* Espaciado interno */
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para el título del banner */
.banner__title {
    font-size: 28px; /* Tamaño de la fuente del título */
    text-align: center;
}

/* Estilos para la descripción del banner */
.banner__description {
    font-size: 16px; /* Tamaño de la fuente de la descripción */
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

/* Estilos para el botón en el banner */
.banner__btn {
    width: 180px;
    background-color: var(--color-background-botton-banner); /* Color de fondo oscuro */
    color: var(--color-text); /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 3px; /* Bordes redondeados */
    text-align: center;
}

/* Estilos para la sección de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px; /* Espaciado interno */
    justify-content: space-evenly;
}

/* Estilos para cada producto */
.producto {
    width: 300px; /* Ancho del producto */
    margin: 30px; /* Espaciado entre productos */
    background-color: var(--color-background-product); /* Color de fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
    padding: 50px; /* Espaciado interno */
    text-align: center; /* Centra el texto dentro del producto */
    color: var(--color-text-product);
    transition: transform 0.3s;
}

.producto:hover{
    transform: scale(1.1);
}

/* Estilos para la imagen del producto */
.producto__image {
    height: 150px; /* Altura fija de la imagen */
    border-radius: 5px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Espaciado inferior */
    transition: transform 1s ;
}

.producto__image:hover {
    transform: scale(1.2);
}

/* Estilos para el título del producto */
.producto__title {
    font-size: 16px; /* Tamaño de la fuente del título */
    margin-bottom: 10px; /* Espaciado inferior */
    height: 40px; /* Altura fija para el título */
}

/* Estilos para la descripción del producto */
.producto__description {
    font-size: 14px; /* Tamaño de la fuente de la descripción */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el precio del producto */
.producto__precio {
    font-weight: bold; /* Negrita para el precio */
    color: var(--color-textprice); /* Color del precio */
    margin: 20px 0; /* Espaciado vertical */
    font-size: 18px; /* Tamaño de la fuente del precio */
}

/* Estilos para el botón de compra del producto */
.producto__btn {
    background-color: var(--color-background-product-botton); /* Color de fondo oscuro */
    color: var(--color-text); /* Color del texto blanco */
    padding: 14px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el pie de página */
.footer {
    background-color: var(--color-background-footer); /* Color de fondo oscuro */
    color: var(--color-text); /* Color del texto blanco */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado vertical */
}